In [16]:
import pandas as pd
df = pd.read_csv('heights.csv')
df.shape

(14, 2)

In [17]:
df.describe()

          height
count  14.000000
mean    6.050000
std     2.779804
min     1.200000
25%     5.250000
50%     5.550000
75%     6.175000
max    14.500000

In [18]:
max_threshold = df['height'].quantile(0.95)
max_threshold

9.689999999999998

In [19]:
df[df['height'] > max_threshold]

    name  height
9  imran    14.5

In [20]:
min_threshold = df.height.quantile(0.05)
min_threshold

3.6050000000000004

In [21]:
df[df.height < min_threshold]

      name  height
12  yoseph     1.2

In [23]:
df_no_outlier = df[(df.height > min_threshold) & (df.height < max_threshold)]
df_no_outlier.shape

(12, 2)

In [24]:
df = pd.read_csv('bhp.csv')
df.head()

,location,size,total_sqft,bath,price,bhk,price_per_sqft
0,Electronic City Phase II,2 BHK,1056.0,2.0,39.07,2,3699
1,Chikka Tirupathi,4 Bedroom,2600.0,5.0,120.00,4,4615
2,Uttarahalli,3 BHK,1440.0,2.0,62.00,3,4305
3,Lingadheeranahalli,3 BHK,1521.0,3.0,95.00,3,6245
4,Kothanur,2 BHK,1200.0,2.0,51.00,2,4250

In [26]:
df.describe()

         total_sqft          bath         price           bhk  price_per_sqft
count  13200.000000  13200.000000  13200.000000  13200.000000    1.320000e+04
mean    1555.302783      2.691136    112.276178      2.800833    7.920337e+03
std     1237.323445      1.338915    149.175995      1.292843    1.067272e+05
min        1.000000      1.000000      8.000000      1.000000    2.670000e+02
25%     1100.000000      2.000000     50.000000      2.000000    4.267000e+03
50%     1275.000000      2.000000     71.850000      3.000000    5.438000e+03
75%     1672.000000      3.000000    120.000000      3.000000    7.317000e+03
max    52272.000000     40.000000   3600.000000     43.000000    1.200000e+07

In [30]:
max_threshold = df.price_per_sqft.quantile(0.998)
max_threshold

35326.74600000036

In [31]:
df[df.price_per_sqft > max_threshold]

,location,size,total_sqft,bath,price,bhk,price_per_sqft
9,other,6 Bedroom,1020.0,6.0,370.0,6,36274
345,other,3 Bedroom,11.0,3.0,74.0,3,672727
1005,other,1 BHK,15.0,1.0,30.0,1,200000
1106,other,5 Bedroom,24.0,2.0,150.0,5,625000
1548,Uttarahalli,5 Bedroom,400.0,5.0,200.0,5,50000
2258,other,4 Bedroom,3200.0,4.0,1200.0,4,37500
4044,Sarjapur Road,4 Bedroom,1.0,4.0,120.0,4,12000000
4924,other,7 BHK,5.0,7.0,115.0,7,2300000
4993,other,6 Bedroom,825.0,6.0,400.0,6,48484
5315,Banashankari Stage II,4 Bedroom,1500.0,2.0,650.0,4,43333
5911,Mysore Road,1 Bedroom,45.0,1.0,23.0,1,51111
6134,Basavangudi,6 Bedroom,1754.0,6.0,650.0,6,37058
6356,Bommenahalli,4 Bedroom,2940.0,3.0,2250.0,4,76530
7012,other,1 BHK,650.0,1.0,500.0,1,76923
7575,other,1 BHK,425.0,1.0,750.0,1,176470
7799,other,4 BHK,2000.0,3.0,1063.0,4,53150
8157,other,4 BHK,2230.0,4.0,792.0,4,35515
8307,Bannerghatta Road,5 BHK,2500.0,4.0,1400.0,5,56000
8483,HSR Layout,8 Bedroom,800.0,8.0,285.0,8,35625
9099,Whitefield,3 BHK,1496.0,2.0,718.0,3,47994
9436,Indira Nagar,4 Bedroom,2400.0,5.0,1250.0,4,52083
9636,other,4 Bedroom,2100.0,3.0,1000.0,4,47619
10465,Electronic City,4 Bedroom,1800.0,3.0,700.0,4,38888
11447,Whitefield,4 Bedroom,60.0,4.0,218.0,4,363333
12328,other,4 Bedroom,4350.0,8.0,2600.0,4,59770
12948,other,10 Bedroom,7150.0,13.0,3600.0,10,50349
13185,Hulimavu,1 BHK,500.0,1.0,220.0,1,44000

In [37]:
min_threshold = df.price_per_sqft.quantile(0.002)
min_threshold

1884.95

In [38]:
df[df.price_per_sqft < min_threshold]

,location,size,total_sqft,bath,price,bhk,price_per_sqft
130,Electronic City,2 BHK,880.0,1.0,16.5,2,1875
509,Banashankari Stage III,4 Bedroom,8500.0,4.0,145.0,4,1705
665,Yelahanka,3 BHK,35000.0,3.0,130.0,3,371
798,other,4 Bedroom,10961.0,4.0,80.0,4,729
982,Chikkabanavar,1 Bedroom,1200.0,1.0,20.0,1,1666
1867,other,3 Bedroom,52272.0,2.0,140.0,3,267
2375,Yelahanka New Town,1 BHK,960.0,2.0,18.0,1,1875
2392,other,4 Bedroom,2000.0,3.0,25.0,4,1250
3934,other,1 BHK,1500.0,1.0,19.5,1,1300
4063,other,5 BHK,5800.0,5.0,80.0,5,1379
4502,Channasandra,2 Bedroom,3040.0,2.0,48.0,2,1578
5343,other,9 BHK,42000.0,8.0,175.0,9,416
5417,Ulsoor,4 BHK,36000.0,4.0,450.0,4,1250
5597,JP Nagar,2 BHK,1100.0,1.0,15.0,2,1363
7166,Yelahanka,1 Bedroom,26136.0,1.0,150.0,1,573
7195,Yelahanka,1 Bedroom,1075.0,1.0,19.5,1,1813
7862,JP Nagar,3 BHK,20000.0,3.0,175.0,3,875
7876,Hegde Nagar,4 BHK,2600.0,4.0,40.0,4,1538
8300,Kengeri,1 BHK,1200.0,1.0,14.0,1,1166
8560,Doddaballapur,2 Bedroom,640.0,1.0,10.5,2,1640
8649,other,7 Bedroom,6500.0,7.0,104.0,7,1600
8827,Electronic City,2 BHK,1200.0,2.0,20.0,2,1666
9144,other,4 Bedroom,10961.0,4.0,80.0,4,729
9278,Yelahanka,1 BHK,1000.0,1.0,14.0,1,1400
9974,other,1 Bedroom,10030.0,1.0,150.0,1,1495
11635,Begur,3 BHK,2400.0,3.0,12.0,3,500
12355,other,4 BHK,16335.0,4.0,149.0,4,912

In [39]:
df.shape

(13200, 7)

In [40]:
df_no_outlier = df[(df.price_per_sqft < max_threshold) & (df.price_per_sqft > min_threshold)]
df_no_outlier.shape

(13146, 7)

In [41]:
df_no_outlier.describe()

         total_sqft          bath         price           bhk  price_per_sqft
count  13146.000000  13146.000000  13146.000000  13146.000000    13146.000000
mean    1535.714722      2.688194    110.940023      2.797733     6633.179522
std      959.872617      1.331907    141.222936      1.287420     3981.651397
min      250.000000      1.000000      8.000000      1.000000     1900.000000
25%     1100.000000      2.000000     50.000000      2.000000     4272.000000
50%     1274.000000      2.000000     71.500000      3.000000     5438.000000
75%     1666.000000      3.000000    120.000000      3.000000     7305.000000
max    30400.000000     40.000000   2912.000000     43.000000    35042.000000

In [47]:
# Practice Problem
df = pd.read_csv('AB_NYC_2019.csv')
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [48]:
df.describe()

,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
count,4.889500e+04,4.889500e+04,48895.000000,48895.000000,48895.000000,48895.000000,48895.000000,38843.000000,48895.000000,48895.000000
mean,1.901714e+07,6.762001e+07,40.728949,-73.952170,152.720687,7.029962,23.274466,1.373221,7.143982,112.781327
std,1.098311e+07,7.861097e+07,0.054530,0.046157,240.154170,20.510550,44.550582,1.680442,32.952519,131.622289
min,2.539000e+03,2.438000e+03,40.499790,-74.244420,0.000000,1.000000,0.000000,0.010000,1.000000,0.000000
25%,9.471945e+06,7.822033e+06,40.690100,-73.983070,69.000000,1.000000,1.000000,0.190000,1.000000,0.000000
50%,1.967728e+07,3.079382e+07,40.723070,-73.955680,106.000000,3.000000,5.000000,0.720000,1.000000,45.000000
75%,2.915218e+07,1.074344e+08,40.763115,-73.936275,175.000000,5.000000,24.000000,2.020000,2.000000,227.000000
max,3.648724e+07,2.743213e+08,40.913060,-73.712990,10000.000000,1250.000000,629.000000,58.500000,327.000000,365.000000

In [49]:
df.shape

(48895, 16)

In [50]:
df = df[df['availability_365'] != 0]
df.shape

(31362, 16)

In [51]:
df.describe()

,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
count,3.136200e+04,3.136200e+04,31362.000000,31362.000000,31362.000000,31362.000000,31362.000000,26155.000000,31362.000000,31362.000000
mean,2.100481e+07,8.144950e+07,40.728401,-73.948745,162.050475,8.338658,31.852369,1.810126,10.334067,175.831994
std,1.148631e+07,8.673088e+07,0.056561,0.051397,254.425463,23.836703,51.636804,1.805707,40.700398,126.187636
min,2.539000e+03,2.571000e+03,40.499790,-74.244420,0.000000,1.000000,0.000000,0.010000,1.000000,1.000000
25%,1.167514e+07,8.620116e+06,40.688383,-73.983270,70.000000,2.000000,2.000000,0.450000,1.000000,55.000000
50%,2.254548e+07,4.109561e+07,40.723720,-73.954110,111.500000,3.000000,10.000000,1.230000,1.000000,168.000000
75%,3.119407e+07,1.452145e+08,40.763030,-73.930132,189.000000,5.000000,39.000000,2.680000,3.000000,305.000000
max,3.648724e+07,2.743213e+08,40.913060,-73.712990,10000.000000,1250.000000,629.000000,58.500000,327.000000,365.000000

In [52]:
df = df[(df.price != 0) & (df.number_of_reviews != 0) & (df.reviews_per_month > 0.9)]

In [53]:
df.shape

(15787, 16)

In [54]:
df.describe()

,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
count,1.578700e+04,1.578700e+04,15787.000000,15787.000000,15787.000000,15787.000000,15787.000000,15787.000000,15787.000000,15787.000000
mean,2.175718e+07,9.058551e+07,40.726445,-73.944261,140.933110,3.291316,55.707481,2.746415,5.983594,164.390321
std,1.094507e+07,8.850000e+07,0.057550,0.054701,149.025769,10.465902,63.253719,1.774026,34.297811,118.958482
min,3.831000e+03,2.881000e+03,40.506410,-74.244420,10.000000,1.000000,1.000000,0.910000,1.000000,1.000000
25%,1.368061e+07,1.109997e+07,40.686180,-73.982250,68.000000,1.000000,10.000000,1.470000,1.000000,54.000000
50%,2.370334e+07,5.267531e+07,40.719720,-73.950320,100.000000,2.000000,34.000000,2.330000,1.000000,150.000000
75%,3.145010e+07,1.628591e+08,40.762545,-73.924960,175.000000,3.000000,78.000000,3.515000,2.000000,276.000000
max,3.645581e+07,2.738417e+08,40.913060,-73.721790,7500.000000,999.000000,629.000000,58.500000,327.000000,365.000000

In [55]:
min_threshold, max_threshold = df.price.quantile([0.001,0.999])
print(min_threshold, max_threshold)

20.0 1416.050000000132

In [56]:
df = df[(df.price < max_threshold) & (df.price > min_threshold)]
df.shape

(15750, 16)